*{ margin: 0; padding: 0;}
body{
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    margin: auto;
    text-align: center;
    color: black;
}
.btn{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: bold;
    background-color: rgba(46, 46, 46, 0.3)
}
h2{
    margin-top: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid rgba(40, 40, 40, 0.7);
    background-color: rgba(40, 40, 40, 0.5);
}